<div class="row" ng-hide="loaded">
    <div class="col-md-2 col-md-offset-5">
        <div class='uil-ripple-css' style='transform:scale(0.54);'><div></div><div></div></div>
    </div>
</div>

<div class="alert alert-info" ng-show="error">
    Вы можете повторно пройти экзамен через день!
</div>

<div class="alert alert-info" ng-show="last">
    Вы уже прошли это интервью. Результаты.
</div>

<div class="row" ng-show="loaded">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{ vacancy.name }}</strong><br/>
                {{ vacancy.company }}.
                {{ vacancy.location }}.
                {{ vacancy.rate }}.
                {{ vacancy.experience }}.
            </div>
            <div class="panel-body" data-ng-bind-html="description">
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="loaded">
    <div class="col-md-12 pull-right" ng-hide="last">
        <button ng-click="start(vacancy)" class="btn btn-success center-block" ng-show="continue">Продолжить собеседование</button>
        <button ng-click="start(vacancy)" class="btn btn-success center-block" ng-hide="continue">Начать собеседование</button>
    </div>
</div>
