<div class="row" ng-show="isAdmin">
    <div class="col-md-12">
        <a href="#/exam/update" class="btn btn-default pull-right">Добавить тест</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table forum table-striped">
            <thead>
            <tr>
                <th>
                    <h3>Список тестов</h3>
                </th>
                <th class="text-center" ng-show="isAdmin">Опубликован</th>
                <th class="text-center" ng-show="isAdmin">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="exam in exams" ng-hide="exam.deleted">
                <td>
                    <h4>
                        <a ng-href="#/exam/view/{{exam.id}}">
                            {{ exam.name }}
                        </a>
                        <br><small>{{ exam.intro }}</small>
                    </h4>
                </td>
                <td class="text-center" ng-show="isAdmin">
                    {{ exam.active }}
                </td>
                <td class="text-center" ng-show="isAdmin">
                    <a ng-href="#/exam/update/{{exam.id}}" class="btn btn-link">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <button class="btn btn-link" ng-click="delete(exam)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>