<div class="row" ng-hide="loaded">
    <div class="col-md-2 col-md-offset-5">
        <div class='uil-ripple-css' style='transform:scale(0.54);'><div></div><div></div></div>
    </div>
</div>
<div class="row" ng-show="loaded">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label for="usr">Название:</label>
                    <input type="text" class="form-control" id="name" ng-model="vacancy.name" required>
                </div>
                <div class="form-group">
                    <label for="usr">Компания:</label>
                    <input type="text" class="form-control" id="name" ng-model="vacancy.company" required>
                </div>
                <div class="form-group">
                    <label for="usr">Место раположение:</label>
                    <input type="text" class="form-control" id="name" ng-model="vacancy.location" required>
                </div>
                <div class="form-group">
                    <label for="usr">Зарплата:</label>
                    <input type="text" class="form-control" id="name" ng-model="vacancy.rate" required>
                </div>
                <div class="form-group">
                    <label for="usr">Опыт работы:</label>
                    <input type="text" class="form-control" id="name" ng-model="vacancy.experience" required>
                </div>
                <div class="form-group checkbox">
                    <label>
                        <input type="checkbox" ng-model="vacancy.active" required> Опубликовать
                    </label>
                </div>
                <div class="form-group">
                    <label for="comment">Описание:</label>
                    <textarea class="form-control" rows="20" id="description" ng-model="vacancy.description" required></textarea>
                </div>
                <a ng-href="#/vacancy/{{id}}" class="btn btn-default" ng-show="id">Назад</a>
                <a ng-href="#/owner" class="btn btn-default" ng-hide="id">Назад</a>
                <button class="btn btn-default pull-right" ng-click="save(vacancy)">Сохранить</button>
            </div>
        </div>
    </div>
</div>