<div class="row" ng-hide="loaded">
    <div class="col-md-2 col-md-offset-5">
        <div class='uil-ripple-css' style='transform:scale(0.54);'><div></div><div></div></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a ng-href="#/vacancy/{{vacancy.id}}/stage/update" class="btn btn-default">Добавить эпат</a>
        <a ng-href="#/vacancy/{{vacancy.id}}/report/update" class="btn btn-default">Добавить отчет</a>
        <a href="#/vacancy/update/{{vacancy.id}}" class="btn btn-default">Отредактировать</a>
        <a ng-href="#/owner" class="btn btn-default">Назад</a>
        <a href="#/vacancy/candidates/{{vacancy.id}}/total" class="btn btn-default pull-right">Канидидаты</a>
    </div>
</div>
<div class="row" ng-show="loaded" style="padding-top: 10px;">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <strong>{{ vacancy.name }}</strong><br/>
                    {{ vacancy.company }}.
                    {{ vacancy.location }}.
                    {{ vacancy.rate }}.
                    {{ vacancy.experience }}.
                </h4>
                <div class="btn-group pull-right" ng-show="vacancy.active">
                    <p><span class="glyphicon glyphicon-check"></span> Опубликован</p>
                </div>
                <div class="btn-group pull-right" ng-hide="vacancy.active">
                    <p><span class="glyphicon glyphicon-unchecked"></span> Не опубликован</p>
                </div>
            </div>
            <div class="panel-body" data-ng-bind-html="description">
            </div>
        </div>
    </div>
    <div class="col-md-12" ng-repeat="(index , stage) in stages" ng-hide="stage.deleted">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">{{ stage.name }}</h4>
                <div class="pull-right">
                    <button ng-click="changePosition(index, index - 1)" ng-attr-id="{{'stage_up_' + index}}" ng-hide="index == 0" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    </button>
                    <button ng-click="changePosition(index, index + 1)" ng-attr-id="{{'stage_down_' + index}}"class="btn btn-default" ng-hide="stages.length - 1 == index">
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    </button>
                    <a href="#/stage/{{vacancy.id}}/{{stage.id}}/task/update" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span> Добавить задачу
                    </a>
                    <a href="#/vacancy/{{vacancy.id}}/stage/update/{{stage.id}}" class="btn btn-default">
                        <span class="glyphicon glyphicon-edit"></span> Отредактировать
                    </a>
                    <button class="btn btn-default" ng-click="deleteStage(stage)">
                        <span class="glyphicon glyphicon-remove"></span> Удалить
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div data-ng-bind-html="html(stage.description)"></div>
                <div data-ng-bind-html="html(stage.congratulate)"></div>
                <div data-ng-bind-html="html(stage.failure)"></div>
                <table class="table" style="margin-top: 20px;">
                    <tbody>
                    <tr>
                        <th>Задания</th>
                        <th class="col-md-3">Действия</th>
                    </tr>
                    <tr ng-repeat="(index , task) in tasks[stage.id]">
                        <td>
                            <div><h4>{{index + 1}}. {{task.name}}</h4></div>
                            <div>Тип поля ввода: {{ types[task.type] }}</div>
                            <div ng-show="task.values.length > 0">
                                Значения:
                                <ul>
                                    <li ng-repeat="value in task.values">
                                        <span ng-show="!value.info">
                                            {{value.value}}
                                        </span>
                                        <span ng-show="value.info">
                                            {{value.info}}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div ng-show="task.filters.length > 0">
                                Условия:
                                <ul>
                                    <li ng-repeat="filter in task.filters">
                                            {{ filter.key }} {{ filter.value }}
                                    </li>
                                </ul>
                            </div>
                            <div style="margin-top: 20px;" data-ng-bind-html="html(task.description)"></div>
                        </td>
                        <td>
                            <a href="#/stage/{{vacancy.id}}/{{stage.id}}/task/update" class="btn btn-default">
                                <span class="glyphicon glyphicon-arrow-up"></span>
                            </a>
                            <a href="#/stage/{{stage.id}}/task/update" class="btn btn-default">
                                <span class="glyphicon glyphicon-arrow-down"></span>
                            </a>
                            <a href="#/stage/{{vacancy.id}}/{{stage.id}}/task/update/{{task.id}}" class="btn btn-default">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="#/vacancy/{{vacancy.id}}/stage/update/{{stage.id}}" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>