<div class="row" id="manager-panel-exams" style="display: none;">
    <div class="col-md-12">
        <button type="button" class="btn btn-default pull-right">Добавить тест</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Добавить вопрос</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="usr">Название:</label>
                    <input type="text" class="form-control" id="name" ng-model="question.name" required>
                </div>
                <div class="form-group">
                    <label for="usr">Порядок:</label>
                    <input type="number" class="form-control" ng-model="question.pos" required>
                </div>
                <div class="form-group">
                    <label for="comment">Описание:</label>
                    <textarea class="form-control" rows="20" id="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="comment">Рекомендации:</label>
                    <textarea class="form-control" rows="20" id="hint" required></textarea>
                </div>
                <a ng-href="#/exam/view/{{question.exam.id}}" class="btn btn-default pull-left">
                    Отменить
                </a>
                <button class="btn btn-default pull-right" ng-click="save(question)">Добавить</button>
            </div>
        </div>
    </div>
</div>