<div class="row" id="manager-panel-exams" style="display: none;">
    <div class="col-md-12">
        <button type="button" class="btn btn-default pull-right">Добавить тест</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Добавить шаблон</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="usr">Заголовок:</label>
                    <input type="text" class="form-control" id="name" ng-model="template.subject" required>
                </div>
                <div class="form-group">
                    <label for="usr">Ключ:</label>
                    <select class="form-control" ng-model="template.key">
                        <option ng-repeat="key in keys" value="{{key}}">{{key}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="comment">Описание:</label>
                    <textarea class="form-control" rows="10" id="description" ng-model="template.body" required></textarea>
                </div>
                <a ng-href="#/exam/view/{{exam.id}}" class="btn btn-default">Назад</a>
                <button class="btn btn-default pull-right" ng-click="save(template)">Добавить</button>
            </div>
        </div>
    </div>
</div>